form {
    width: 100%;
    background-color: #ff793f;
    padding: 50px;
    border-radius: 15px;
}

label{
    color: #ccae62;
}

input.ng-invalid.ng-touched{
    border: 4px solid tomato;
}

input.ng-valid.ng-touched{
    border: 4px solid lightgreen;
}