<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul>
        @if(usuarioService.isLogged()){
        <li [routerLink]="['/empleados']"> <lucide-angular [img]="Contact" class="my-icon"></lucide-angular>Lista
            empleados</li>
        <li [routerLink]="['/empleados', 'nuevo']">Nuevo empleado</li>
        <li (click)="onClick()">Logout</li>

        }@else {
        <li [routerLink]="['/registro']">Registro</li>
        <li [routerLink]="['/login']">Login</li>

        }

    </ul>


</nav>