section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

article{
    border: 1px solid black;
    width: 300px;
    padding: 20px;

    img{
        width: 100%;
        display: block;
    }
}